.menu_down{
	display: none;
}
.menu{
	display: none;
}
.header{
	height: 100px;
	width: 100%;
	background: url("header_bg.svg") no-repeat center center;
}
.header_top{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content:space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	width: 86%;
	margin: 0 auto;
}
.logo{
	width: 100px;
	margin-left: 160px;
}
.logo2{
	width: 50px;
}
.copy img{
	width: 40px;
}
.nav ul li{
	float: left;
	min-width: 90px;
	margin-right: 40px;
	position: relative;
	line-height: 100px;
}
.nav ul li:last-child{
	margin-right: 0;
}
.nav ul li a{
	display: block;
	height: 100%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	color: #444;
}
.nav ul li::after{
	content:'';
	position: absolute;
	width: 0;
	height: 4px;
	background: #2f7d1e; 
	left:50%;
	bottom:0;
	z-index: 9;
	-webkit-transition: ease-in-out .3s;
	-o-transition: ease-in-out .3s;
	transition: ease-in-out .3s;
}
.nav ul li.choose::after{
	width: 100%;
	left:0;
}
.nav ul li:hover::after{
	width: 100%;
	left:0;
}
.header_con{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content:flex-start;
	justify-content:flex-start;

}
.header_con p{
	font-size: 20px;
	color: #2f7d1e;
	padding-left: 20px;
	line-height: 25px;
}
.module_page1{
	width: 100%;
	padding-top: 88px;
	background: url("https://img.alicdn.com/imgextra/i1/701111735/O1CN01cuD5CG1OgfpUoT6oI_!!701111735.jpg")no-repeat center bottom;
	height:830px;
}
.in_about_left{
	width: 865px;
	float: left;
	margin-top:20px;
}
.in_about_left h6{
	width: 158px;
	height: 45px;
	line-height: 45px;
	background: url("index_img01.png")no-repeat center center;
	text-align: center;
	font-size: 24px;
	color: #fff;
}
.in_about_left h3{
	font-size: 48px;
	color: #f6a444;
	font-family:'逐浪温莎雅楷体'; 
	margin-top: 36px;
}
.in_about_left p{
	font-size: 16px;
	color: #555;
	line-height: 48px;
	margin-top: 20px;
}
.in_about_right{
	width: 260px;
	float: right;
}
.in_about_right ul li{
	width: 100%;
	height: 153px;
	text-align: center;
	padding-top: 30px;
}
.in_about_right ul li:first-child{
	background: #2f7d1e;
}
.in_about_right ul li:nth-child(2){
	background: #438a34;
}
.in_about_right ul li:nth-child(3){
	background: #559548;
}
.in_about_right ul li:last-child{
	background: #669f5a;
}
.in_about_right ul li h3{
	font-size: 60px;
	color: #fff;
	font-family:'AlternateGothicNo2BT Regular'; 
}
.in_about_right ul li p{
	font-size: 16px;
	color: #fff;
}
.w1600{
	max-width: 1600px;
	margin: 0 auto;
}
.module_page2{
	padding-bottom:70px;
}
.module_page2 .w1600{
	border-top:4px solid #2f7d1e;
}
.index_title{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding:60px 0;
}
.index_title h3{
	font-size: 24px;
	color: #000;
	line-height: 30px;
}
.index_title p{
	font-size: 16px;
	color: #555;
	line-height:30px;
}
.product_list ul li{
	float: left;
	width: 503px;
	height: 503px;
	margin-right:45px;
	margin-bottom:45px;
	border:1px solid #dcdcdc;
	position: relative;
	overflow:hidden;
}
.product_list ul li:nth-child(3n){
	margin-right: 0;
}
.product_list ul li figure{
	width: 100%;
	height: 100%;
}
.product_list ul li figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.product_list ul li figcaption{
	width: 100%;
	position: absolute;
	right:100%;
	bottom:0;
	z-index:10;
	height:80px;
	background: #59974b;
	-webkit-transition: ease-in-out .5s;
	-o-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}
.product_list ul li figcaption p{
	line-height:20px;
	font-size: 20px;
	color: #fff;
	padding-top:30px;
	padding-left: 40px;
	width: 100%;
	height: 100%;
	position: relative;
}
.product_list ul li figcaption p::after{
	content:'';
	position: absolute; 
	width: 32px;
	height: 12px;
	background: url("right.png")no-repeat center center;
	top:calc(50% - 6px);
	right:65px;
	z-index:10;
}
.product_list ul li:hover figcaption{
	right:0;
}
.module_page2 a.more{
	display: block;
	width: 308px;
	height: 55px;
	margin: 0 auto;
	border:2px solid #2f7d1e;
	line-height: 51px;
	font-size: 15px;
	color: #2f7d1e;
	padding-left:48px;
	margin-top: 5px;
	border-radius:30px;
	position:relative;
	display: none;
	-webkit-transition: ease-in-out .5s;
	-o-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}
.module_page2 a.more::after{
	content:'';
	position: absolute; 
	width: 98px;
	height: 6px;
	background: url("right2.png")no-repeat center center;
	right:34px;
	top:calc(50% - 3px);
	z-index:9;
	-webkit-transition: ease-in-out .5s;
	-o-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}
.module_page2 a.more:hover{
	background: #2f7d1e;
	color: #fff;
}
.module_page2 a.more:hover::after{
	background: url("right3.png")no-repeat center center;
}
.module_page3 .w1600{
	border-top:4px solid #2f7d1e;
}
.deta_list ul{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.deta_list ul li{
	position: relative;
	margin-bottom:4px;
	overflow:hidden;
}
.deta_list ul li p{
	position: absolute;
	font-size: 24px;
	color: #fff;
	width: 100%;
	text-align: center;
	left:0;
	bottom:40px;
	line-height: 20px;
}
.deta_list ul li figure img{
	-webkit-transition: ease-in-out .5s;
	-o-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}
.deta_list ul li:hover figure img{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.module_page3{
	padding-bottom: 100px;
}
.module_page4 .w1600{
	border-top:4px solid #2f7d1e;
}
.in_news_nav ul li{
	float: left;
	margin-left: 50px;
	position: relative;
}
.in_news_nav ul li:first-child{
	margin-left: 0;
}
.in_news_nav ul li a{
	display: block;
	line-height: 30px;
	padding:0 10px;
	-webkit-transition: ease-in-out .3s;
	-o-transition: ease-in-out .3s;
	transition: ease-in-out .3s;
}
.in_news_nav ul li::after{
	content:'';
	position: absolute;
	width: 0;
	height: 2px;
	background: #2f7d1e;
	left:50%;
	bottom:-18px;
	z-index:9;
	-webkit-transition: ease-in-out .3s;
	-o-transition: ease-in-out .3s;
	transition: ease-in-out .3s;
}
.in_news_nav ul li:hover::after{
	width: 100%;
	left:0;
}
.in_news_nav ul li:hover a{
	color: #2f7d1e;
}
.in_news_nav ul li.choose a{
	color: #2f7d1e;
}
.in_news_nav ul li.choose::after{
	width: 100%;
	left:0;
}
.module_page4{
	padding-bottom: 100px;
}
.innews_left{
	width: 808px;
	float: left;
	position: relative;
}
.innews_left figcaption{
	position: absolute;
	width: 100%;
	bottom:0;
	left:0;
	height:174px;
	background:rgba(47,125,30,.5);
	padding-left: 40px;
}
.innews_left figcaption h6{
	width: fit-content;
	padding:0 25px;
	line-height:30px;
	background: #f6a444;
	font-size: 14px;
	color: #fff;
}
.innews_left figcaption h3{
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin-top: 20px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding-bottom: 0;
}
.innews_left figcaption p{
	font-size: 14px;
	color: #ccc;
	line-height: 24px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-bottom: 0;
    margin-top: 12px;
    width: 92%;
}
.news_con{
	width:752px;
	float: right;
}
.news_list ul li{
	width: 100%;
	border:1px solid #dcdcdc;
	padding:30px 40px;
	margin-bottom: 20px;
}
.news_list ul li:last-child{
	margin-bottom: 0;
}
.news_list ul li a{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: flex-end;
	align-items: flex-end;
}
.news_list ul li .left{
	max-width: 530px;
	padding-right: 30px;
}
.news_list ul li .left h6{
	font-size: 12px;
	font-weight: bold;
	color: #000;
}
.news_list ul li .left h5{
	font-size: 18px;
	color: #000;
	margin-top: 12px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding-bottom: 0;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}
.news_list ul li .left p{
	font-size: 12px;
	color: #999;
	line-height: 24px;
	margin-top: 10px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-bottom: 0;
    -webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}
.news_list ul li .right h3{
	font-size: 58px;
	text-align: center;
	line-height:70px;
	-webkit-transition: ease-in-out .3s;
    -o-transition: ease-in-out .3s;
    transition: ease-in-out .3s;
}
.news_list ul li .right h6{
	font-size: 16px;
	color: #999;
	text-align: center;
}
.news_list ul li .right{
	border-left:1px solid #dcdcdc;
	padding-left:45px;
}
.news_list ul li:hover .left h5{
	color: #2f7d1e;
}
.news_list ul li:hover .left p{
	color: #000;
}
.news_list ul li:hover .right h3{
	color: #2f7d1e;
}
.news_next a{
	display: block;
	float: right;
	font-size: 15px;
	color: #999;
	line-height: 20px;
	-webkit-transition: ease-in-out .3s;
	-o-transition: ease-in-out .3s;
	transition: ease-in-out .3s;
}
.news_next a i{
	font-size: 50px;
	line-height: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 3px;
}
.news_next a:first-child{
	margin-left: 70px;
}
.news_next a:first-child i{
	margin-left: 20px;
}
.news_next a:last-child i{
	margin-right: 20px;
}
.news_next{
	margin-top: 24px;
}
.news_next a:hover{
	color: #2f7d1e;
}
.footer_top{
	width: 100%;
	height: 550px;
	position: relative;
}
.footer_top figure{
	height: 100%;
	width: 100%;
}
.footer_top figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer_top figcaption{
	position: absolute;
	width: 500px;
	height: 100%;
	background: #51ca36;
	padding:0 30px;
	top:0;
	right:160px;
	padding-top: 60px;
}
.footer_top figcaption h3{
	font-size: 36px;
	color: #000;
	padding-bottom:25px;
	border-bottom:1px solid #2f7d1e;
}
.footer_top figcaption .con_tel{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	border-bottom:1px solid #2f7d1e;
	padding:20px 0 15px 0;
}
.footer_top figcaption .con_tel img{
	margin-right: 12px;
}
.footer_top figcaption .con_tel h3{
	font-size: 48px;
	color: #fff;
	font-family: 'AlternateGothicNo2BT Regular';
	padding-bottom:0;
	border-bottom:none;
}
.footer_top figcaption .con_tel p{
	font-size: 14px;
	color: #000;
}
.footer_top figcaption .con_list{
	margin-top: 20px;
}
.footer_top figcaption .con_list ul li{
	position: relative;
	font-size: 16px;
	color: #000;
	line-height: 24px;
	padding:10px 0;
	padding-left: 60px;
}
.footer_top figcaption .con_list ul li::after{
	content:'';
	position: absolute;
	width: 7px;
	height: 10px;
	background: url("right4.png")no-repeat center center;
	top:17px;
	left:40px;
}


.inside_header{
	width: 100%;
	height: 245px;
	background: #2f7d1e;
}
.inside_top{
	height: 83px;
	border-bottom: 1px solid #6ea462;
}
.inside_top .w1200{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	height: 100%;
}
.inside_top a{
	font-size: 16px;
	color: #fff;
}
.inside_top a:hover{
	text-decoration: underline;
}
.inside_bottom .w1200{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	height: 162px;
}
.inside_bottom .left .in_pos{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
.inside_bottom .left h3{
	font-size: 36px;
	font-weight: bold;
	color: #fff;
	margin-bottom:15px;
}
.inside_bottom .left .in_pos a{
	color: #fff;
	font-size: 15px;
}
.inside_bottom .left .in_pos p{
	color: #fff;
	font-size: 15px;
}
.inside_bottom .left .in_pos img{
	padding:0 10px;
}
.inside_bottom .left .in_pos img:first-child{
	padding-left: 0;
}
.inside_nav ul li{
	float: left;
	height: 50px;
	border:1px solid #fff;
	line-height:48px;
	text-align: center;
	background: none;
	margin-right: 20px;
	border-radius:30px;
	-webkit-transition: ease-in-out .5s;
	-o-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}
.inside_nav ul li:last-child{
	margin-right: 0;
}
.inside_nav ul li a{
	display: block;
	font-size: 16px;
	color: #fff;
	padding:0 33px;
}
.inside_nav ul li.choose{
	background: #f6a444;
	border-color:#f6a444;
}
.inside_nav ul li:hover{
	background: #f6a444;
	border-color:#f6a444;
}
.news_list1 ul li{
	float: left;
	width: 380px;
	margin-right: 30px;

}
.news_list1 ul li:last-child{
	margin-right: 0;
}
.news_list1{
	background-image: linear-gradient(#fff, #eee);
	padding:70px 0;
}
.news_list1 h3{
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	color: #444;
	margin-bottom: 48px;
}
.news_list1 ul li figure{
	width: 100%;
	height: 285px;
	overflow:hidden;
	position: relative;
}
.news_list1 ul li figure img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	-webkit-transition: ease-in-out .5s;
	-o-transition: ease-in-out .5s;
	transition: ease-in-out .5s;
}
.news_list1 ul li figure .time{
	position: absolute;
	width: 135px;
	height: 36px;
	background: #f6a444;
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height:36px;
	left:0;
	bottom:0;
	z-index:9;
}
.news_list1 ul li figcaption{
	background: #fff;
	width: 100%;
	border:2px solid #dcdcdc;
	border-top:0;
	padding:27px 28px 32px 28px;
}
.news_list1 ul li figcaption h3{
	font-size: 18px;
	color: #333;
	line-height: 30px;
	font-weight: 400;
	text-align: left;
	margin-bottom: 0;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-bottom: 0;
}
.news_list1 ul li figcaption p{
	font-size: 14px;
	color: #444;
	line-height: 24px;
	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-bottom: 0;
    margin-top: 14px;
}
.news_list1 ul li:hover img{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.news_list2{
	padding: 60px 0 40px 0;
}
.news_list2 ul li{
	float: left;
	width: 590px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.news_list2 ul li:nth-child(2n){
	margin-right: 0;
}
.news_dea{
	padding:30px 0 60px 0;
}
.newsdea_title h3{
	font-size: 26px;
	color: #444;
	text-align: center;	
}
.newsdea_title p{
	font-size: 14px;
	color: #999;
	text-align: center;
	margin-top: 32px;
}
.newsdea_title{
	padding-bottom:18px;
	border-bottom:1px solid #dcdcdc;
}
.news_endit{
	font-size: 16px;
	color: #666;
	line-height: 48px;
	padding-top: 20px;
	width: 84%;
	margin: 0 auto;
}
.prodea_con{
	width: 100%;
	padding:80px 0 100px 0;
	background: linear-gradient(#fff, #eee);
}
.product_swiper .gallery-top .swiper-slide{
	text-align: center;
}
.product_swiper .gallery-top .swiper-slide img{
	width: 650px;
	height: 650px;
	object-fit: cover;
}
.product_swiper .gallery-thumbs{
	width: 880px;
}
.product_swiper .gallery-thumbs .swiper-slide{
	border:1px solid #dcdcdc;
}
.product_swiper .gallery-thumbs .swiper-slide-thumb-active{
	border:2px solid #2f7d1e;
}
.prodea_con h3{
	font-size: 28px;
	font-weight: bold;
	color: #444;
	text-align: center;
}

.product_swiper2 .gallery-top .swiper-slide{
	text-align: center;
}
.product_swiper2 .gallery-top .swiper-slide img{
	width: 650px;
	height: 650px;
	object-fit: cover;
}
.product_swiper2 .gallery-thumbs{
	width: 880px;
}
.product_swiper2 .gallery-thumbs .swiper-slide{
	border:1px solid #dcdcdc;
}
.product_swiper2 .gallery-thumbs .swiper-slide-thumb-active{
	border:2px solid #2f7d1e;
}
.prodea_con2{
	background: #fff;
}
.product_endit{
	text-align: center;
	margin-top: 40px;
}
.copy{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
}
.product_endit table{
	width:100%;
	margin:0 auto;
}
.product_endit td{
	text-align:left;
	padding:5px 10px;
}


.banner {
	text-align: center;
}
.banner .swiper-container .swiper-wrapper .swiper-slide img{
	width: 1920px;}